<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col-sm-8 card p-4 m-4 bg-light ">
      <%= turbo_frame_tag @restaurant do %>
      <h2>Edit your restaurant</h2>
      <%#= turbo_frame_tag "restaurant_#{@restaurant.id}" do %>
        <%= simple_form_for @restaurant do |f|%>
          <%= f.input :name, label: "Restaurant name" %>
          <%= f.input :address, label: "Restaurant address" %>
          <%= link_to "Cancel", restaurants_path, class: "btn btn-primary" %>
          <%= f.button :submit, 'Submit', class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
